[submodule "senesc-wheat"]
	path = senesc-wheat
	url = https://github.com/openalea-incubator/senesc-wheat
[submodule "growth-wheat"]
	path = growth-wheat
	url = https://github.com/openalea-incubator/growth-wheat
[submodule "fspm-wheat"]
	path = fspm-wheat
	url = https://github.com/openalea-incubator/fspm-wheat
[submodule "farquhar-wheat"]
	path = farquhar-wheat
	url = https://github.com/openalea-incubator/farquhar-wheat
[submodule "elong-wheat"]
	path = elong-wheat
	url = https://github.com/openalea-incubator/elong-wheat
[submodule "cn-wheat"]
	path = cn-wheat
	url = https://github.com/openalea-incubator/cn-wheat
[submodule "respi-wheat"]
	path = respi-wheat
	url = https://github.com/openalea-incubator/respi-wheat
[submodule "adel"]
    path = adel
    url = https://github.com/MTreestanG/adel
